/* body */
body, html {
    scroll-behavior: smooth;
    min-width: 1600px;
}

/* 스크롤 */
#scrollBtn {
    position: fixed; bottom: 50px;
    right: 50px; width: 50px;
    transition: 0.5s; z-index: 9998;
}
#scrollBtn img {
    width: 100%;
}
#scrollBtn:hover {
    transform: scale(1.1);
}

/* 마우스 */
#circle {
    width: 10px; height: 10px;
    border-radius: 50%;
    background: #7264ef;
    position: fixed; z-index: 9999;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

/* header */
header {
    height: 100px; z-index: 9998;
    width: 100%; display: flex; padding: 0 200px;
    align-items: center; justify-content: space-between;
    position: fixed; top: 0; transition: 0.5s;
}
header h1 {
    width: 50px; transition: 0.5s;
}
header h1:hover {
    transform: scale(1.1);
}
header h1 a {
    width: 100%;
}
header h1 a img {
    width: 100%;
}
header nav {
    display: flex;
}
header nav a {
    position: relative;
    font-family: "Blinker", sans-serif;
    transition: 0.5s; padding: 0 20px;
    display: flex; align-items: center;
}
header nav a::after {
    content: ''; display: inline-block;
    background: #7264ef; width: calc(100% - 20px);
    height: 2px; position: absolute; bottom: -10px;
    left: 50%; transform: translateX(-50%) scale(0);
    transition: 0.5s;
}
header nav a:hover {
    color: #7264ef;
}
header nav a:hover::after {
    transform: translateX(-50%) scale(1);
}

/* footer */
footer {
    height: 100px; background: #222;
    display: flex; align-items: center;
    justify-content: space-between;
    padding: 80px 200px; position: relative;
}
footer .left {}
footer .left h2 {
    font-size: 2rem; margin-bottom: 20px;
    color: #aaa; display: flex;
    align-items: center;
    font-family: "Blinker", sans-serif;
}
footer .left h2 img {
    width: 50px; margin-right: 10px;
}
footer .left .copyright {
    color: #aaa; font-size: 0.875rem;
}
footer .menu {
    display: flex; flex-flow: column nowrap;
    position: absolute; left: 35%;
}
footer .menu h2 {
    margin-bottom: 10px;
    color: #fff;
}
footer .menu a {
    color: #aaa; transition: 0.5s;
    font-family: "Blinker", sans-serif;
    margin-bottom: 5px;
}
footer .menu a:last-child {
    margin: 0;
}
footer .menu a:hover {
    color: #7264ef;
}
footer .right {}
footer .right h2 {
    color: #fff; margin-bottom: 10px;
}
footer .right .number_email {}
footer .right .number_email .number {
    display: flex; align-items: center;
    margin-bottom: 10px; color: #aaa;
    font-family: "Blinker", sans-serif;
}
footer .right .number_email .number img {
    margin-right: 10px;
}
footer .right .number_email .email {
    margin-bottom: 20px; color: #aaa;
    display: flex; align-items: center;
    font-family: "Blinker", sans-serif;
}
footer .right .number_email .email img {
    margin-right: 10px;
}

/* header fixed */
.fixed {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}