/* header */
header nav a:nth-of-type(2) {
    color: #7264ef;
}

/* 메인 */
main {}
main .main {
    height: 50vh; display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background: rgb(160,132,202);
    background: linear-gradient(180deg, rgba(160,132,202,1) 0%, rgba(191,172,224,1) 10%, rgba(235,199,232,1) 20%, rgba(255,255,255,1) 50%);
}
main .text {
    font-family: "Blinker", sans-serif;
    font-size: 1.5rem; padding-left: 200px;
}
main .main h2 {
    font-size: 5rem; font-weight: 700;
    padding-left: 200px;
}
main .develop {}
main .develop h3 {
    font-weight: 700; font-size: 2rem;
    margin-bottom: 40px; text-align: center;
    font-family: "Blinker", sans-serif;
}
main .develop .project {
    display: flex; flex-flow: row wrap;
    padding: 0 20px; margin-bottom: 100px;
}
main .develop .project a {
    width: calc(100% / 4 - 40px);
    margin: 0 20px 40px; overflow: hidden;
}
main .develop .project a:hover .image img {
    transform: scale(1.2);
}
main .develop .project a .image {
    width: 100%; background: #f2f2f2;
    border-radius: 20px; overflow: hidden;
}
main .develop .project a .image img {
    width: 100%; transition: 0.5s;
}
main .develop .project a .info {
    padding: 10px;
}
main .develop .project a .info h4 {
    margin-bottom: 10px;
    font-weight: 700;
}
main .develop .project a .info p {
    color: #8d8d8d; font-size: 0.75rem;
}
main .design {
    padding-bottom: 100px;
}
main .design h3 {
    font-weight: 700; font-size: 2rem;
    margin-bottom: 40px; text-align: center;
    font-family: "Blinker", sans-serif;
}
main .design .project {
    padding: 0 40px;
}
main .design .project .sns_container {
    overflow: hidden; margin-bottom: 40px;
}
main .design .project .sns_container .sns_wrapper {}
main .design .project .sns_container .sns_wrapper a {}
main .design .project .sns_container .sns_wrapper a img {
    width: 100%;
}
main .design .project .bnr_container {
    overflow: hidden;
}
main .design .project .bnr_container .bnr_wrapper {}
main .design .project .bnr_container .bnr_wrapper a {}
main .design .project .bnr_container .bnr_wrapper a img {
    width: 100%;
}